.btn {
  font-size: 13px;
  padding: 7px 12px;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  color: #fff;
}

.btn-danger {
  background-color: #D9728E;
}

.btn-success {
  background-color: #4ABCBA;
}

.btn-large {
  font-size: 15px;
  padding: 15px 30px;
}
